/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body {
	font: 75% georgia, sans-serif;
	line-height: 2.88889;
	color: #555753;
	background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right;
	margin: 0;
	padding: 0;
	}
p {
	margin-top: 0;
	text-align: justify;
	}
h3 {
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #7D775C;
	}
a:link {
	font-weight: bold;
	text-decoration: none;
	color: #B7A5DF;
	}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #D4CDDC;
	}
a:hover, a:focus, a:active {
	text-decoration: underline;
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}

.parallax {
	min-height: 300px;
	background: transparent;
}

/* specific divs */
.page-wrapper {
	background: url(http://csszengarden.com/001/zen-bg.jpg) no-repeat top left;
	padding: 0 175px 0 110px;
	margin: 0;
	position: relative;
	}

.intro {
	min-width: 470px;
	width: 100%;
	}

header h1 {
	background: transparent url(http://csszengarden.com/001/h1.gif) no-repeat top left;
	margin-top: 10px;
	display: block;
	width: 219px;
	height: 87px;
	float: left;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header h2 {
	background: transparent url(http://csszengarden.com/001/h2.gif) no-repeat top left;
	margin-top: 58px;
	margin-bottom: 40px;
	width: 200px;
	height: 18px;
	float: right;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header {
	padding-top: 20px;
	height: 87px;
}

.summary {
	<h2>The Beauty of <abbr title="Cascading Style Sheets">CSS</abbr> Design</h2>
	clear: both;
	margin-left: 300px;
	margin-top: 650px;
	position: absolute;
	right: 0;
	padding: 10px;
	width: 130px;
	background-color: white | transparent;
	}
.summary p {
	font: italic 1.1em/2.2 georgia;
	text-align: center;
	}

.preamble {
	clear: right;
	margin-top: 80px;
	padding: 0px 10px 0 10px;
	}
.preamble h3 {
	padding: 10px;
}

.supporting {
	padding-left: 10px;
	margin-bottom: 40px;
	}
	.supporting h3 {
		padding: 10px;
	}

footer {
	text-align: center;
	}
footer a:link, footer a:visited {
	margin-right: 20px;
	}

.sidebar {
	margin-left: 600px;
	margin-top: 25px;
	position: absolute;
	top: 0;
	right: 0;
	}
.sidebar .wrapper {
	font: 10px verdana, sans-serif;
	background: transparent url(http://csszengarden.com/001/paper-bg.jpg) top left repeat-y;
	padding: 10px;
	margin-top: 150px;
	width: 130px;
	}
.sidebar h3.select {
	background: transparent url(http://csszengarden.com/001/h3.gif) no-repeat top left;
	margin: 10px 0 5px 0;
	width: 97px;
	height: 16px;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.archives {
	background: transparent url(http://csszengarden.com/001/h5.gif) no-repeat top left;
	margin: 25px 0 5px 0;
	width:57px;
	height: 14px;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources {
	background: transparent url(http://csszengarden.com/001/h6.gif) no-repeat top left;
	margin: 25px 0 5px 0;
	width:63px;
	height: 10px;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em;
	background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center;
	display: block;
	padding-top: 5px;
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #988F5E;
	}
.sidebar li a:visited {
	color: #B3AE94;
	}


.extra1 {
	background: transparent url(http://csszengarden.com/001/cr2.gif) top left no-repeat;
	position: absolute;
	top: 40px;
	right: 0;
	width: 148px;
	height: 110px;
	}

	#LargerFirst{
		font-size: 170%;
		font-style: oblique;
		color: #C67DC9;
	}

	.LargerHead{
		font-size: 210%;
	}
